body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #333;
    height: 60px;
width:100%;
display: flex;
}
nav h1{  
        color: white;
        margin-left: 10px;
        font-size: 1.2rem   
}
.logo{
    width: fit-content;
    height: 100%;
    display: flex;
   
}
.logo img{
    align-self: center;
    height: 53px;
 border-radius: 50%;
 width: 53px;

}
.links ul{
    list-style: none;
    display: flex;
}
.links ul li{
   margin: 0 8px;
}

.links ul li a{
    color: white;
    display: flex;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}
.links a:hover{
    scale: 1.2;
    color: orangered;
}

.menu-container {
    position: relative;
    margin-left: auto;
    
}

.burger-btn {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;align-items: center;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

button:hover {
    background-color: #2980b9;
}
.dropdown-menu {
    display: none;
    background-color: white;
    padding: 0;
    position: absolute;
    top: 55px;
    right: 0;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}
.mobile-menu li a{
display: block;
color: #333;
}


.dropdown-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 7px;
    transition: all ease-in-out 0.5s;
}

/* Utility class to show the menu */
.visible {
    display: block;
}
.appointments-section {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5rem;
   align-items: center;

}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.appointment-form label {
    font-size: 1rem;
}

.appointment-form select,
.appointment-form input,
.appointment-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.appointment-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appointment-button:hover {
    background-color: #0056b3;
}
@media (max-width: 768px) {

  .links{
    display: none;
  }  
}

